.avatar__container {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.avatar__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.avatar__size__large {
  width: 40px;
  height: 40px;
}
.avatar__size__small {
  width: 24px;
  height: 24px;
}
.avatar__variant__square {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #6b7280;
}
