@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  border-radius: 4px;
  outline: none;
  background: #f9fafb;
  border: 1px solid #d1d5db;
}
.button span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #374151;
  /* margin-right: 9.6px; */
}

.dark {
  border: 1px solid #111827;
  background: #111827;
}
.dark span {
  color: #ffffff;
}
.square {
  border-radius: 0;
}
.left-rounded {
  border-radius: 6px 0 0 6px;
}
.right-rounded {
  border-radius: 0 6px 6px 0;
}
.icon-left-spacing span {
  margin-left: 9.6px;
}
.icon-right-spacing span {
  margin-right: 9.6px;
}
