@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

.chip {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 8px;
  background: #e5e7eb;
  border-radius: 4px;
  height: 28px;
  margin-right: 4px;
  margin-bottom: 4px;
  width: fit-content;
}

.chip span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #111827;
  margin-right: 11px;
}

.chip button {
  outline: none;
  border: none;
}
